body {
  background-image: url(./img/arg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.map-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

svg {
  width: 100%;
  height: auto;
}

#info-container {
  background-color: rgba(54, 144, 192, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

/* Estilo para el contenedor de la tabla */
.table-container {
  max-height: 700px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto; /* Habilitar el scroll vertical cuando el contenido es demasiado largo */
  border: 1px solid #ddd; /* Agregar un borde al contenedor */
  border-radius: 10px; /* Añadir esquinas redondeadas al contenedor */
  padding: 10px; /* Espaciado interno */
  margin-top: 20px; /* Margen superior */
  display: flex; /* Usamos flexbox para centrar verticalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  background-color: rgba(203, 224, 235, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo para la tabla dentro del contenedor */
.table-container table {
  width: 100%; /* Ocupar todo el ancho disponible */
  border-collapse: collapse; /* Colapsar los bordes de las celdas */
}

/* Estilo para las celdas de la tabla */
.table-container td,
.table-container th {
  padding: 10px; /* Espaciado interno de las celdas */
  border: 1px solid #ddd; /* Agregar bordes a las celdas */
}

/* Estilos para las columnas */
.col-lg-4 {
  padding: 10px;
}

/* Ajustar tamaños en pantallas pequeñas */
@media screen and (max-width: 1200px) {
  .col-lg-4 {
    width: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 992px) {
  .col-md-4 {
    width: 33.33%;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    width: 50%;
    padding: 10px;
  }
}

#info-container h2 {
  text-align: center;
}

.sort-buttons {
  margin-top: 10px;
  text-align: center;
}

.province-box {
  text-align: center;
  padding: 10px;
  
}

.province-box img {
  max-width: 100%;
  height: auto;
}

.province-box h2 {
  margin-top: 10px;
}

.province-box p {
  margin: 5px 0;
}

/* Estilos para la sección de turismo */
.tourism-section {
  background-color: rgba(54, 144, 192, 0.1);
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tourism-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tourism-entry {
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 20px;
  text-align: center;
}

.tourism-entry p {
  width: 100%;
  max-width: 100%;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 50px;
}

.tourism-entry img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.tourism-entry .description {
  margin-top: 10px;
}

/* Estilos para la sección de información de la provincia */
.province-info {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los encabezados */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
}

/* Estilos para los botones */
.btn {
  padding: 8px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.tourism-entry img {
  transition: opacity 0.3s ease;
}

.tourism-entry img:hover {
  opacity: 0.7;
}

path.active {
  fill: yellow; /* Cambia el color de fondo a amarillo o el que desees */
}

.centrar {
  margin-top: 100px;
}



@media screen and (max-width: 768px) {
  .tourism-entry {
    flex: 0 0 100%;
  }
}

.tourism-description h4 {
  font-weight: bold;
  font-size: 35px;
}

.swal2-popup {
  opacity: 0.8; /* Ajusta el valor de opacidad según tu preferencia (0.9 significa 90%) */
}